@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-blue: #2f3097;
  --color-brand-green: #a6ce36;
  --font-serif: "Fraunces", serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}
